<div class="quiz">
    <h3>{{ quizz.name }}</h3>

    <h1>
    Your score:
    </h1>

    <div class="quiz-results">{{ nbCorrectAnswers }}/{{ quizz.questions|length }}</div>

    <p>
        <a href="quizz" class="btn-quiz">Thanks for playing!</a>
    </p>
</div>